[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-binance = "*"
typer = "*"
python-dotenv = "*"
google-cloud-language = "*"

[dev-packages]

[requires]
python_version = "3.8"
